fastapi==0.103.2
hypercorn==0.14.4
python-jose[cryptography]
passlib

SQLAlchemy==2.0.21
psycopg==3.1.12

cachetools==5.3.0
more-itertools==9.1.0

python-telegram-bot[job-queue]==20.6

Pillow==10.0.1

mypy
mypy-extensions
pytesseract
ruff
pytz
pytz-deprecation-shim
reportlab
types-cachetools
types-Pillow
types-pytz
typing_extensions
debugpy
gnureadline
