.container {
    position: relative;
    padding-left: 5vw;
    padding-top: 20vh;
    padding-bottom: 50%;
}

.hero {
    background-image: url('../public/photos/GT4-Monza.jpg');

    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    .hero {
        background-position: center;
    }
}

.maintext {
    font-family: 'RaceSport';
    color: white;
    font-size: clamp(3.5rem, 4.7vw, 10rem);
    margin: 0px;
}

.subtext {
    font-family: 'Poppins' sans-serif;
    color: white;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    margin: 0px;
}

.joinus {
    background-color: white;
    margin-top: 1vh;
    min-width: 10vw;
    text-align: center;
    font-family: 'Poppins' sans-serif;
    border-radius: 9px;
    padding: 0.4rem 0.7rem;
}

.joinus:hover {
    cursor: pointer;
}

/* set arrow positioning */
.arrow {
    width: 60px;
    height: 82px;
    position: absolute;
    left: 49%;
    margin-left: 0px;
    bottom: 5%;
    z-index: 999;
}
/* set arrow styles */
.arrow path {
    stroke: #e74c3c;
    stroke-width: 2px;
    fill: transparent;
    animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/* arrow animation delay */
.arrow path.a1 {
    animation-delay: -1s;
}
.arrow path.a2 {
    animation-delay: -0.5s;
}
.arrow path.a3 {
    animation-delay: 0s;
}
